body {
  background-color: rgb(250, 250, 250);
}

#logo {
  width: 70px;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand:hover {
  color: #FFF;
}

.navbar-links a {
  color: #FFF;
}

.navbar-expand-lg.navbar-nav.nav-link {
  padding: 1rem .8rem;
}

footer {
  position: absolute;
  text-align: center;
  font-size: small;
  width: 100%;
}